/* Make sure editors take full width of parent */
.public-DraftEditorPlaceholder-root,
.DraftEditor-editorContainer,
.DraftEditor-root {
  width: 100%;
}
/* Make placeholder absolutely positioned
 on top of editor input */
.public-DraftEditorPlaceholder-root {
  position: absolute;
  left: 0;
  z-index: 0;
  color: #ccc;
  /*background: green;*/
}
/* Specify editor containers as being relative,
so that absolute position of children is relative
to container */
.DraftEditor-editorContainer, .DraftEditor-root {
  position: relative;
  z-index: 100;
  /*background: red;*/
}

.SentimentEditor {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.TitleEditor {
  width: 100%;
  font-size: 30px;
  color: #202020;
  text-align: left;
  line-height: 1.15;
}

.BodyEditor {
  display: block;
  font-size: 22px;
  /*border: 1px solid #ccc;*/
}
