/* Make sure editors take full width of parent */
.public-DraftEditorPlaceholder-root,
.DraftEditor-editorContainer,
.DraftEditor-root {
  width: 100%;
}
/* Make placeholder absolutely positioned
 on top of editor input */
.public-DraftEditorPlaceholder-root {
  position: absolute;
  left: 0;
  z-index: 0;
  color: rgba(0,0,0, 0.3);
}

/*.light .public-DraftEditorPlaceholder-root */
/* Specify editor containers as being relative,
so that absolute position of children is relative
to container */
.DraftEditor-editorContainer, .DraftEditor-root {
  position: relative;
  z-index: 100;
}
