.style-button {
  background: none;
  box-sizing: border-box;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
}

.active-button {
  /*background: rgba(0, 0, 0, 0.5);*/
  color: rgba(255, 255, 255, 0.9);
}

.light .active-button {
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.dark .style-button {
  border-color: rgba(0,0,0,0.7);
}

.dark .style-button.active-button {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}
