.StyleEditor {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background: none;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  border: 6px solid #444;
  border-radius: 5px;
  padding: 5px 10px;
}
