.StyleEditor {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.StyleEditor__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.StyleEditor__controls .style-button {
  margin-right: 5px;
  margin-bottom: 5px;
}
